apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: platform-root
  namespace: argocd
spec:
  project: platform
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  source:
    repoURL: git@github.com:HarrisonZz/GCP-GKE-ETL-DEMO.git
    targetRevision: main
    path: k8s/argocd/applications
  syncPolicy:
    automated: { prune: true, selfHeal: true }
